:root{
    --nav-bar-height: 80px;
    --edge-spacing: 75px;
}
* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    color: whitesmoke;
    font-family: 'Quicksand' ;
}
header, .pagination, .drawer, .scroll-tab{
    z-index: 5;
}
header{
    width: 100%;
    position: fixed;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: calc(var(--edge-spacing) / 2);
}
header > h1{
    font-family: 'Black Ops One';
    font-size: 3rem;
    font-weight: 300;
    line-height: 2.2rem;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}
.header-hidden{
    opacity: 0;
}
section{
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 1s cubic-bezier(0.22, 0.44, 0, 1), opacity 0.25s ease-out;
}
.slide-hide{
    opacity: 0;
}
.slide-up{
    transform: translateY(-100vh);
}
.slide-down{
    transform: translateY(100vh);
}
.card-container{
    position: relative;
    margin-top: 5px;
}
.fade-card:first-child{
    position: relative;
}
.fade-card{
    position: absolute;
    top: 0px;
    opacity: 0;
    width: 300px; 
}
.fade-card.fade-card-active{
    opacity: 1;
    animation: fade-in 1s ease-out
}
@keyframes fade-in{
    from{
        opacity: 0;
        transform: translateY(2rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-card > h3{
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.fade-card > h3::after{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left:0;
    height: 1px;
    width: 100%;
    background-color: whitesmoke;
}
.fade-card > h4{
    font-size: 1.3rem;
    padding-bottom: 0.2rem;
    
}
.fade-card > p{
    font-size: 1.1rem;
    padding-bottom: 1rem;
    color: slategray;
}
.drawer{
    position: fixed;
    left: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: var(--edge-spacing);
}
.drawer-icon{
    height: 45px;
    width: 40px;
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0px;
    cursor: pointer;
}
.drawer-icon span{
    height: 3px;
    width: 75%;
    background-color: whitesmoke;
    transition: all 0.25s ease-out;
}
.drawer-icon span:first-child, .drawer-icon span:last-child{
    width: 100%;
    transform-origin: right;
}

#navToggle:not(:checked) + .drawer-icon:hover > span{
    animation: drawerAnimation 0.4s ease-out infinite alternate-reverse;
}

#navToggle:not(:checked) + .drawer-icon:hover > span:first-child, #navToggle:not(:checked) + .drawer-icon:hover > span:last-child{
    animation: drawerAnimation 0.4s ease-out infinite alternate;
}

#navToggle:checked + .drawer-icon span{
    opacity: 0;
}
#navToggle:checked + .drawer-icon span:first-child{
    opacity: 1;
    transform: rotate(-32deg);
}
#navToggle:checked + .drawer-icon span:last-child{
    opacity: 1;
    transform: rotate(32deg);
}

#navToggle:checked + .drawer-icon:hover span:first-child , #navToggle:checked + .drawer-icon:hover span:last-child{
    background-color: slategray;
}
@keyframes drawerAnimation{
    from{
        width: 100%;
    }
    to{
        width: 75%;
    }
}
.pagination{
    position: fixed;
    right: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-right: var(--edge-spacing);
    transition: opacity 0.25s ease-out;
}
.pagination ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
}
.pagination li{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin: 20px;
    transform-origin: center;
    transition: all 0.25s ease-out;
}
li.active-pagination{
    transform: scale(3);
}
.scroll-tab{
    position:fixed;
    width: 100vw;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc(var(--edge-spacing) / 2 - 1rem - 0.75rem);
    transition: opacity 0.25s ease-out;
}
.scroll-text{
    color: whitesmoke;
    font-size: 1.2rem;
    margin: 1rem 0;
}
.scroll-container{
    padding: 0 25px;
}
.scroll-container:hover > .arrow-down{
    animation-play-state: running;
}
.scroll-container:hover > .arrow-up{
    animation-play-state: running;
}
.scroll-arrow{
    cursor: pointer;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent; 
    transition: border 0.25s ease-out;

    /* hover and mobile state styling */
    outline: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
.arrow-up{
    border-bottom: 0.75rem solid whitesmoke;
    animation: pulseUp 1s ease-out infinite;
    animation-play-state: paused;
}
.arrow-up:hover{
    border-bottom: 0.75rem solid slategray;
}
.arrow-down{
    border-top: 0.75rem solid whitesmoke;
    animation: pulseDown 1s ease-out infinite;
    animation-play-state: paused;
}
.arrow-down:hover{
    border-top: 0.75rem solid slategray;
}
@keyframes pulseUp{
    0%, 100%{ transform: translateY(0);}
    50% { transform: translateY(-5px);}
}
@keyframes pulseDown{
    0%, 100%{ transform: translateY(0);}
    50% { transform: translateY(5px);}
}
.background{
    position: fixed;
    z-index: -1;
}
.shadow{
    position: fixed;
    pointer-events: none;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at 50%, transparent 5%, #000000 60%),
    linear-gradient(to bottom, rgba(0,0,0,0.7) 20%,rgba(0,0,0,0.4) 35%, transparent 50%,rgba(0,0,0,0.4) 65%, rgba(0,0,0,0.7) 100%);
    transition: transform ease-out 0.15s;
}
.shadow-expand{
    transform: scale(3);
}
.typo-slide{
    text-transform: uppercase;
}

.typo-slide > h1 {
    --typo-h1-size: 9rem;
    font-family: 'Black Ops One';
    font-size: var(--typo-h1-size);
    font-weight: 300;
    line-height: calc(var(--typo-h1-size) - 2rem);
}

.typo-slide > h2 , .content-slide > h2{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
}

.typo-slide > h3 {
    font-weight: 300;
    font-size: 1.5rem;
    color: slategray;
}

.content-slide ol{
    list-style-type: none;
    counter-reset: trackNumber;
}
.content-slide li{
    padding: 5px 0 0 0;
    display: grid;
    grid-template-columns: 3rem 1fr;
    font-size: 1.1rem;
}
.content-slide li::before{
    color: slategray;
    font-family: 'Black Ops One';
    counter-increment: trackNumber;
    content: counter(trackNumber);
}

.navbar{
    width: max-content;
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: calc(var(--edge-spacing) + 15vw);
    font-size: 6rem;
    overflow: hidden;
    z-index: -1;
}
.navbar ul{
    list-style-type: none;
}
.navbar li{
    transform: translateX(-100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right,slategray 50%,whitesmoke 50%);
    background-size: 200% 100%;
    background-position: 100%;
    cursor: pointer;
}
.navbar li:hover{
    background-position: 0%;
    transition: background-position 0.5s ease-out;
}
.navbar.navbar-show{
    z-index: 5;
}
.navbar.navbar-show li{
    animation: slide-in 0.25s ease-out;
    animation-fill-mode: forwards;
}
@keyframes slide-in{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
@media screen and (max-width: 1000px){
    .pagination{
        display: none;
    }
    .drawer{
        display: none;
    }
}